@charset "UTF-8";

// IMPORTS
////////////////////////////////////////////////////////////////////////////////

@import "bourbon";
@import "neat";

@import 'settings';
@import 'base/base';
@import 'modules/modules';
@import 'pages/pages';

// GLOBAL OVERRIDES
////////////////////////////////////////////////////////////////////////////////

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

// Get rid of gap under images by making them display: inline-block; by default
img {
  display: inline-block;
  vertical-align: middle;
}

// Make sure textarea takes on height automatically
textarea {
  height: auto;
  min-height: 50px;
}

// Make select elements 100% width by default
select {
  width: 100%;
}

// PROJECT
////////////////////////////////////////////////////////////////////////////////

.container {
  @include outer-container();
}