@charset "UTF-8";

// IMPORTS
////////////////////////////////////////////////////////////////////////////////

@import 'settings';
@import 'base/base';
@import 'modules/modules';
@import 'pages/pages';

// GLOBAL OVERRIDES
////////////////////////////////////////////////////////////////////////////////

* {
  box-sizing: border-box;
}

// PROJECT
////////////////////////////////////////////////////////////////////////////////

.grid {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.grid__item {
  flex-grow: 1;
  min-width: 33.33%;
  background: grey;
  border: 0.25rem solid white;
  height: 10rem;
}