/*  ------------------------------------------------------------------------
    Requires: Bourbon
    ------------------------------------------------------------------------  */

$sans : "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, serif;
$heading-font-family: $sans;

$h1-font-size: rem-calc(44);
$h2-font-size: rem-calc(37);
$h3-font-size: rem-calc(27);
$h4-font-size: rem-calc(23);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

html, body {
  font-family: $sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// Headings

h1, .alpha {
  font-size: $h1-font-size;
  font-family: $heading-font-family;
}

h2, .beta {
  font-size: $h2-font-size;
  font-family: $heading-font-family;
}

h3, .gamma {
  font-size: $h3-font-size;
  font-family: $heading-font-family;
}

h4, .delta {
  font-size: $h4-font-size;
  font-family: $heading-font-family;
}

h5, .epsilon {
  font-size: $h5-font-size;
  font-family: $heading-font-family;
}

h6, .zeta {
  font-size: $h6-font-size;
  font-family: $heading-font-family;
}

// Links

a {
  text-decoration: none;
  cursor: pointer;
  color: $link-colour;
  &:hover { 
    border-bottom: 1px solid $link-colour;
  }
}
